.unit{
  width:70px;
}

table, th, td{
  text-align: center;
  justify-content:center;
  align-items:center;
  
  align:center;
  width: 300px;
  border:3px double;
  color:black;
  margin: 50px auto;
}

.userdetails{
  position:fixed;
  margin-inline:30px;
  margin-top:40px;
}
th{
  background-color:#DCDCDC;
}