<!DOCTYPE html>
<html>
  <head>
    <title>report</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
  crossorigin="anonymous"></script>
    <script src="/static/report.js"></script>
    <link rel="stylesheet" href="/static/index.css">
      
  </head>
  <body>
    
   <div class="container">
     <div>
       <div>
       <button id="btn" class="btn">GO</button>
       </div>
     </div>
     <div>
      <p >Mohamed</p>
      <a href="moha">moha</a>
      <div class="column">
       <div>
         Left List
         <ul class="left-list"></ul>
       </div>
       <div>
         Righ List
         <ul class="right-list"></ul>
       </div>
      </div>
     </div>
   </div>
   
  </body>
  </html>
