<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>lOG-IN</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <link rel="stylesheet" href="/static/login.css">


</head>
<body>
  <nav class="navbar shadow-sm fixed-top bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Home
    </a>
  </div>
</nav>
<div style="height:56px"></div>
 
  <section>
    <form method="post">
      
    <div class="upform">
     <label for="username">Username</label>
    <input type="text" name="username" placeholder="User_Name">
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Insert_Password">
      <input class="sub_btn"type="submit">
      <p style="color:red;margin:10px;font-weight:bold;">{{message}}</p>
     
       
   </div>
      </form>
       
  </section>
  <script src="/static/report.js"></script> 
</body>


</html>