<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>lOG-IN</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <link rel="stylesheet" href="/static/report.css">


</head>
<body>
  <nav class="navbar shadow-sm fixed-top bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Home
    </a>
  </div>
</nav>
<div style="height:56px"></div>

  <div class="userdetails"><h4>Name: Mohamed Sobhy</h4></div>
 
  <section>
    <table>
      <tr>
        <th>Date</th>
        <th>Report.No</th>
      </tr>
      {% for item in data %}
      <tr>
        <td>{{item.report_date.strftime("%d")}}/{{item.report_date.strftime("%m")}}/{{item.report_date.strftime("%Y")}}</td>
        <td><a href="https://www.w3schools.com">{{item.report_no}}</a></td>
      </tr>
      {%endfor%}
  
    </table>
       
  </section>
  
</body>


</html>